<div id="chat-messages" class="chat-messages">
  <button class="btn hide" id="show_more_comments" onclick="Juvia.loadMore()">Load More</button>
  <div id="chat-messages-inner">
  </div>
</div>
<div class="chat-message well chat-input-box">										                  
  <button class="btn btn-success send-chat">Send</button>
  <button class="btn hide" id="chat-refresh">
    <i class="icon-refresh"></i>
  </button>  
  <span class="input-box">
    <input type="text" id="msg-box" name="msg-box">
  </span>
</div>

